html,
body {
  padding: 8px;
  margin: 0;
}

a {
  text-decoration: none;
}

.images {
  display: flex;
  flex-wrap: wrap;
}

h3 {
  font-size: 1.5rem;
  text-decoration: underline;
}

.image {
  margin-bottom: 16px;
  margin-right: 16px;
  padding: 8px;
}

.image p {
  margin: 0;
  margin-bottom: 4px;
}
